## COVID-19 Analysis, Visualization and Forecasting

Coronavirus is a family of viruses that can cause illness, which can vary from common cold and cough to sometimes more severe disease. Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV) were such severe cases with the world already has faced.

SARS-CoV-2 (n-coronavirus) is the new virus of the coronavirus family, which first discovered in 2019, which has not been identified in humans before. It is a contiguous virus which started from Wuhan in December 2019. Which later declared as Pandemic by WHO due to high rate spreads throughout the world. Currently (on the date 29 Aug 2020), this leads to a total of 900K+ Deaths across the globe.

Pandemic is spreading all over the world; it becomes more important to understand about this spread. This is an effort to analyze the cumulative data of confirmed, deaths, and recovered cases over time. In this notebook, the main focus is to analyze the spread trend of this virus all over the world and its predictions.

In [ ]:
### Downloading and Installing Prerequisite
!pip install pycountry_convert
!pip install folium
!pip install calmap
!pip install altair
!pip install prophet==0.6
!pip install pmdarima

In [2]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import ticker 
import pycountry_convert as pc
import folium
from datetime import datetime, timedelta,date
import plotly.express as px
import json, requests
import calmap

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

## Sourcing and loading data

### 2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE ([LINK](https://github.com/CSSEGISandData/COVID-19)) 
<hr>
Dataset consists of time-series data from 22 JAN 2020 to Till date (Updated on daily Basis).<br>
**Three Time-series dataset (Depricated):**
* time_series_19-covid-Confirmed.csv ([Link Raw File](https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv))
* time_series_19-covid-Deaths.csv ([Link Raw File](https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv))
* time_series_19-covid-Recovered.csv ([Link Raw File](https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv))

**New Time-series dataset:**
* time_series_covid19_confirmed_global.csv ([Link Raw File](https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv))
* time_series_covid19_deaths_global ([Link Raw File](https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv))

**New Dataset (Updated more frequently by web crawler of JHU):**
* cases_country.csv ([Link Raw File]("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv"))

In [3]:
# Retriving Dataset
df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

# Depricated
df_recovered = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")
#df_covid19 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")
#df_table = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_time.csv",parse_dates=['Last_Update'])

In [4]:
df_confirmed.head()

  Province/State Country/Region       Lat  ...  11/1/20  11/2/20  11/3/20
0            NaN    Afghanistan  33.93911  ...    41501    41633    41728
1            NaN        Albania  41.15330  ...    21202    21523    21904
2            NaN        Algeria  28.03390  ...    58272    58574    58979
3            NaN        Andorra  42.50630  ...     4825     4888     4910
4            NaN         Angola -11.20270  ...    11035    11228    11577

[5 rows x 291 columns]

## Preprocessing

In [5]:
df_confirmed = df_confirmed.rename(columns={"Province/State":"state","Country/Region": "country"})
df_deaths = df_deaths.rename(columns={"Province/State":"state","Country/Region": "country"})
df_recovered = df_recovered.rename(columns={"Province/State":"state","Country/Region": "country"})

## Changing the conuntry names as required by pycountry_convert Lib

df_confirmed.loc[df_confirmed['country'] == "US", "country"] = "USA"
df_deaths.loc[df_deaths['country'] == "US", "country"] = "USA"
df_recovered.loc[df_recovered['country'] == "US", "country"] = "USA"

df_confirmed.loc[df_confirmed['country'] == 'Korea, South', "country"] = 'South Korea'
df_deaths.loc[df_deaths['country'] == 'Korea, South', "country"] = 'South Korea'
df_recovered.loc[df_recovered['country'] == 'Korea, South', "country"] = 'South Korea'

df_confirmed.loc[df_confirmed['country'] == 'Congo (Kinshasa)', "country"] = 'Democratic Republic of the Congo'
df_deaths.loc[df_deaths['country'] == 'Congo (Kinshasa)', "country"] = 'Democratic Republic of the Congo'
df_recovered.loc[df_recovered['country'] == 'Congo (Kinshasa)', "country"] = 'Democratic Republic of the Congo'

df_confirmed.loc[df_confirmed['country'] == "Cote d'Ivoire", "country"] = "Côte d'Ivoire"
df_deaths.loc[df_deaths['country'] == "Cote d'Ivoire", "country"] = "Côte d'Ivoire"
df_recovered.loc[df_recovered['country'] == "Cote d'Ivoire", "country"] = "Côte d'Ivoire"

df_confirmed.loc[df_confirmed['country'] == "Reunion", "country"] = "Réunion"
df_deaths.loc[df_deaths['country'] == "Reunion", "country"] = "Réunion"
df_recovered.loc[df_recovered['country'] == "Reunion", "country"] = "Réunion"

df_confirmed.loc[df_confirmed['country'] == 'Congo (Brazzaville)', "country"] = 'Republic of the Congo'
df_deaths.loc[df_deaths['country'] == 'Congo (Brazzaville)', "country"] = 'Republic of the Congo'
df_recovered.loc[df_recovered['country'] == 'Congo (Brazzaville)', "country"] = 'Republic of the Congo'

df_confirmed.loc[df_confirmed['country'] == 'Bahamas, The', "country"] = 'Bahamas'
df_deaths.loc[df_deaths['country'] == 'Bahamas, The', "country"] = 'Bahamas'
df_recovered.loc[df_recovered['country'] == 'Bahamas, The', "country"] = 'Bahamas'

df_confirmed.loc[df_confirmed['country'] == 'Gambia, The', "country"] = 'Gambia'
df_deaths.loc[df_deaths['country'] == 'Gambia, The', "country"] = 'Gambia'
df_recovered.loc[df_recovered['country'] == 'Gambia, The', "country"] = 'Gambia'

## Merging Confirmed ,deaths and recovered

### melting dataframes
1.use ‘Province/State’, ‘Country/Region’, ‘Lat’, ‘Long’ as identifier variables.
2.Unpivot date columns (confirmed_df.columns[4:] ) with variable column ‘Date’ and value column ‘Confirmed’

In [6]:
dates=df_confirmed.columns[4:]
confirmed_df_melt=df_confirmed.melt(
id_vars=['state','country','Lat','Long'],
value_vars=dates,
var_name='Date',
value_name='Confirmed'
)


deaths_df_melt=df_deaths.melt(
id_vars=['state','country','Lat','Long'],
value_vars=dates,
var_name='Date',
value_name='Deaths'
)


recovered_df_melt=df_recovered.melt(
id_vars=['state','country','Lat','Long'],
value_vars=dates,
var_name='Date',
value_name='Recovered'
)

print(confirmed_df_melt.shape)
print(deaths_df_melt.shape)
print(recovered_df_melt.shape)

(76916, 6)
(76916, 6)
(73185, 6)

In [7]:
confirmed_df_melt

      state             country        Lat       Long     Date  Confirmed
0       NaN         Afghanistan  33.939110  67.709953  1/22/20          0
1       NaN             Albania  41.153300  20.168300  1/22/20          0
2       NaN             Algeria  28.033900   1.659600  1/22/20          0
3       NaN             Andorra  42.506300   1.521800  1/22/20          0
4       NaN              Angola -11.202700  17.873900  1/22/20          0
...     ...                 ...        ...        ...      ...        ...
76911   NaN  West Bank and Gaza  31.952200  35.233200  11/3/20      55408
76912   NaN      Western Sahara  24.215500 -12.885800  11/3/20         10
76913   NaN               Yemen  15.552727  48.516388  11/3/20       2063
76914   NaN              Zambia -13.133897  27.849332  11/3/20      16661
76915   NaN            Zimbabwe -19.015438  29.154857  11/3/20       8410

[76916 rows x 6 columns]

In [8]:
recovered_df_melt

      state             country        Lat       Long     Date  Recovered
0       NaN         Afghanistan  33.939110  67.709953  1/22/20          0
1       NaN             Albania  41.153300  20.168300  1/22/20          0
2       NaN             Algeria  28.033900   1.659600  1/22/20          0
3       NaN             Andorra  42.506300   1.521800  1/22/20          0
4       NaN              Angola -11.202700  17.873900  1/22/20          0
...     ...                 ...        ...        ...      ...        ...
73180   NaN  West Bank and Gaza  31.952200  35.233200  11/3/20      47744
73181   NaN      Western Sahara  24.215500 -12.885800  11/3/20          8
73182   NaN               Yemen  15.552727  48.516388  11/3/20       1375
73183   NaN              Zambia -13.133897  27.849332  11/3/20      15763
73184   NaN            Zimbabwe -19.015438  29.154857  11/3/20       7942

[73185 rows x 6 columns]

In [9]:
## Removing data for Canada  mismatch as canada recovered data is counted by Country wise rather than Province/State-wise
recovered_df_melt=recovered_df_melt[recovered_df_melt['country']!= 'Canada']

In [10]:
## merging  3 dataframes one after another
full_table = pd.merge(left=confirmed_df_melt, right=deaths_df_melt, how='left',
                      on=['state', 'country', 'Date', 'Lat', 'Long'])

full_table = pd.merge(left=full_table, right=recovered_df_melt, how='left',
                      on=['state', 'country', 'Date', 'Lat', 'Long'])
full_table.sample(4)

            state                   country  ...  Deaths  Recovered
20113    Tasmania                 Australia  ...       2       26.0
44116         NaN                     Libya  ...      27      258.0
17676  Montserrat            United Kingdom  ...       0        0.0
8629          NaN  Central African Republic  ...       0        0.0

[4 rows x 8 columns]

In [11]:
#convert to proper date format
full_table['Date']=pd.to_datetime (full_table['Date'])
# checking for missing value
full_table.isnull().sum()

state        53669
country          0
Lat              0
Long             0
Date             0
Confirmed        0
Deaths           0
Recovered     5453
dtype: int64

In [12]:
#fill na with 0
full_table['Recovered']=full_table['Recovered'].fillna(0)
##Handling the missing values
full_table[['state']]=full_table[['state']].fillna('None')

In [13]:

#checking datatypes
full_table.dtypes

state                object
country              object
Lat                 float64
Long                float64
Date         datetime64[ns]
Confirmed             int64
Deaths                int64
Recovered           float64
dtype: object

In [14]:
#fixing dtypes
full_table['Recovered']=full_table['Recovered'].astype(int)

In [15]:
full_table.sample(6)

                                  state      country  ...  Deaths  Recovered
38512  Bonaire, Sint Eustatius and Saba  Netherlands  ...       0          7
4802                               None      Ukraine  ...       0          0
64563                              None       Turkey  ...    7377     264805
45879                      Saskatchewan       Canada  ...      15          0
1168                               None         Cuba  ...       0          0
67047                       Nova Scotia       Canada  ...      65          0

[6 rows x 8 columns]

In [16]:
#Grouped by day,country
datewise = full_table.groupby(['Date', 'country'])['Confirmed', 'Deaths', 'Recovered'].sum().reset_index()

In [17]:
#Calculating the Mortality Rate, Recovery Rate,active and closed cases
datewise["Mortality Rate"]=(datewise["Deaths"]/datewise["Confirmed"])*100
datewise["Recovery Rate"]=(datewise["Recovered"]/datewise["Confirmed"])*100
datewise["Active Cases"]=datewise["Confirmed"]-datewise["Recovered"]-datewise["Deaths"]
datewise["Closed Cases"]=datewise["Recovered"]+datewise["Deaths"]

print("Average Mortality Rate",datewise["Mortality Rate"].mean())
print("Median Mortality Rate",datewise["Mortality Rate"].median())
print("Average Recovery Rate",datewise["Recovery Rate"].mean())
print("Median Recovery Rate",datewise["Recovery Rate"].median())

datewise.sample(10)

Average Mortality Rate 3.063768225305565
Median Mortality Rate 1.941123537729785
Average Recovery Rate 53.102635885792715
Median Recovery Rate 59.37431634215707

            Date      country  ...  Active Cases  Closed Cases
6896  2020-02-27      Estonia  ...             1             0
28027 2020-06-17      Liberia  ...           243           273
50074 2020-10-11       Malawi  ...           994          4827
44943 2020-09-14   Madagascar  ...          1145         14624
10007 2020-03-14       Norway  ...          1086             4
43457 2020-09-06        Qatar  ...          2894        117201
24460 2020-05-29       Russia  ...        223992        163631
4332  2020-02-13    Singapore  ...            43            15
8608  2020-03-07     Ethiopia  ...             0             0
33942 2020-07-18  New Zealand  ...            25          1528

[10 rows x 9 columns]

In [18]:
#filling missing value
colms=['Mortality Rate','Recovery Rate']
datewise[colms]=datewise[colms].fillna(0)

In [19]:
# aggregrated number of cases datewise
datewise_agg=datewise.groupby(["Date"]).agg({"Confirmed":'sum',"Recovered":'sum',"Deaths":'sum',"Mortality Rate":'sum',
                                        "Recovery Rate":'sum',"Active Cases":'sum',"Closed Cases":'sum' })

In [20]:
datewise_agg.tail()

            Confirmed  Recovered  ...  Active Cases  Closed Cases
Date                              ...
2020-10-30   45594203   30364554  ...      14041065      31553138
2020-10-31   46070822   30607515  ...      14268165      31802657
2020-11-01   46502095   30863386  ...      14438653      32063442
2020-11-02   46959365   31140611  ...      14612635      32346730
2020-11-03   47405395   31388109  ...      14803551      32601844

[5 rows x 7 columns]

In [21]:
## average increase of cases in per days
print("Average increase in number of Confirmed Cases every day: ",np.round(datewise_agg["Confirmed"].diff().fillna(0).mean()))
print("Average increase in number of Recovered Cases every day: ",np.round(datewise_agg["Recovered"].diff().fillna(0).mean()))
print("Average increase in number of Deaths Cases every day: ",np.round(datewise_agg["Deaths"].diff().fillna(0).mean()))

Average increase in number of Confirmed Cases every day:  165174.0
Average increase in number of Recovered Cases every day:  109366.0
Average increase in number of Deaths Cases every day:  4229.0

In [22]:
# new cases 
temp = datewise.groupby(['country', 'Date', ])['Confirmed', 'Deaths', 'Recovered']
temp = temp.sum().diff().reset_index()

mask = temp['country'] != temp['country'].shift(1)

temp.loc[mask, 'Confirmed'] = np.nan
temp.loc[mask, 'Deaths'] = np.nan
temp.loc[mask, 'Recovered'] = np.nan

# renaming columns
temp.columns = ['country', 'Date', 'New cases', 'New deaths', 'New recovered']

# merging new values

df_covid19 = pd.merge(datewise, temp, on=['country', 'Date'])

# filling na with 0

df_covid19 = df_covid19.fillna(0)

# fixing data types

cols = ['New cases', 'New deaths', 'New recovered']
df_covid19[cols] = df_covid19[cols].astype('int')
# 
df_covid19['New cases'] = df_covid19['New cases'].apply(lambda x: 0 if x<0 else x)

In [23]:
df_covid19.sample(4)

            Date  country  Confirmed  ...  New cases  New deaths  New recovered
42796 2020-09-03  Denmark      17800  ...        180           0             91
86    2020-01-22    Japan          2  ...          0           0              0
38546 2020-08-11    Syria       1327  ...         72           1              0
19572 2020-05-04  Algeria       4648  ...        174           2             62

[4 rows x 12 columns]

In [24]:
#Now, will take population data from worldometer by webscrapping
#saved  file in csv
#pop_data_c =pop_data.to_csv(r'/Users/ajesh_mahto/Desktop/springboard/global_pop_data.csv',index=False)
import requests
from bs4 import BeautifulSoup
url="https://www.worldometers.info/world-population/population-by-country/"
r= requests.get(url)
soup=BeautifulSoup(r.content)
countries=soup.find_all("table")[0]
pop_data=pd.read_html(str(countries))[0]

def function(a,b,c,d,e,f,g,h,i,j,k):
    data=pd.DataFrame(
    {'a':pop_data[a],
     'b':pop_data[b],
     'c':pop_data[c],
     'd':pop_data[d],
     'e':pop_data[e],
     'f':pop_data[f],
     'g':pop_data[g],
     'h':pop_data[h],
     'i':pop_data[i],
     'j':pop_data[j],
     'k':pop_data[k]})
    return data

pop_data=function('Country (or dependency)','Population (2020)','Yearly Change','Net Change','Density (P/Km²)',
                  'Land Area (Km²)','Migrants (net)','Fert. Rate','Med. Age','Urban Pop %','World Share')
pop_data.columns=['Country (or dependency)','Population (2020)','Yearly Change','Net Change','Density (P/Km²)',
                  'Land Area (Km²)','Migrants (net)','Fert. Rate','Med. Age','Urban Pop %','World Share']

In [25]:
pwd

'/content'

In [26]:
pop_data_c =pop_data.to_csv(r'/content/global_pop_data.csv',index=False)

In [27]:
#loading the file of world poulation
world_population=pd.read_csv('global_pop_data.csv')

#subsetting
world_population = world_population[['Country (or dependency)', 'Population (2020)', 'Density (P/Km²)', 'Land Area (Km²)', 'Med. Age', 'Urban Pop %']]
world_population.columns = ['Country (or dependency)', 'Population (2020)', 'Density', 'Land Area', 'Med Age', 'Urban Pop']

#Replace united states by US
world_population.loc[world_population['Country (or dependency)']=='United States', 'Country (or dependency)'] = 'USA'

# Remove the % character from Urban Pop values
world_population['Urban Pop'] = world_population['Urban Pop'].str.rstrip('%')

## Replace Urban Pop and Med Age "N.A" by their respective modes, then transform to int
world_population.loc[world_population['Urban Pop']=='N.A.', 'Urban Pop'] = int(world_population.loc[world_population['Urban Pop']!='N.A.', 'Urban Pop'].mode()[0])
world_population['Urban Pop'] = world_population['Urban Pop'].astype('int16')
world_population.loc[world_population['Med Age']=='N.A.', 'Med Age'] = int(world_population.loc[world_population['Med Age']!='N.A.', 'Med Age'].mode()[0])
world_population['Med Age'] = world_population['Med Age'].astype('int16')

#now join dataset to previous data set
final_data=pd.merge(
    left=df_covid19,
    right=world_population,
    left_on='country',
    right_on='Country (or dependency)',
    how='left'
)

#dropping country(or dependency data)
final_dataset=final_data.drop('Country (or dependency)',axis=1)

In [28]:
final_dataset.tail(15)

            Date               country  ...  Med Age  Urban Pop
54515 2020-11-03                Turkey  ...     32.0       76.0
54516 2020-11-03                   USA  ...     38.0       83.0
54517 2020-11-03                Uganda  ...     17.0       26.0
54518 2020-11-03               Ukraine  ...     41.0       69.0
54519 2020-11-03  United Arab Emirates  ...     33.0       86.0
54520 2020-11-03        United Kingdom  ...     40.0       83.0
54521 2020-11-03               Uruguay  ...     36.0       96.0
54522 2020-11-03            Uzbekistan  ...     28.0       50.0
54523 2020-11-03             Venezuela  ...     30.0       57.0
54524 2020-11-03               Vietnam  ...     32.0       38.0
54525 2020-11-03    West Bank and Gaza  ...      NaN        NaN
54526 2020-11-03        Western Sahara  ...     28.0       87.0
54527 2020-11-03                 Yemen  ...     20.0       38.0
54528 2020-11-03                Zambia  ...     18.0       45.0
54529 2020-11-03              Zimbabwe  ...     19.0       38.0

[15 rows x 17 columns]

 I will be using df_covid19 dataset for Exploratory data analysis and final dataset for modelling as it has more features.

In [29]:
#getting all countries
countries = np.asarray(df_confirmed["country"])
countries1 = np.asarray(df_covid19["country"])

#Continent_code to Continent_names
continents = {
     'NA': 'North America',
    'SA': 'South America', 
    'AS': 'Asia',
    'OC': 'Australia',
    'AF': 'Africa',
    'EU' : 'Europe',
    'na' : 'Others'
}

# Defininng Function for getting continent code for country.
def country_to_continent_code(country):
    try:
        return pc.country_alpha2_to_continent_code(pc.country_name_to_country_alpha2(country))
    except :
        return 'na'

# #Collecting Continent Information
df_confirmed.insert(2,"continent", [continents[country_to_continent_code(country)] for country in countries[:]])
df_deaths.insert(2,"continent",  [continents[country_to_continent_code(country)] for country in countries[:]])
#df_recovered.insert(2,"continent",  [continents[country_to_continent_code(country)] for country in countries[:]])   
df_covid19.insert(1,"continent",  [continents[country_to_continent_code(country)] for country in countries1[:]])

In [30]:

# checking data with continent
df_covid19.tail(15)

            Date      continent  ... New deaths  New recovered
54515 2020-11-03           Asia  ...         79           1817
54516 2020-11-03  North America  ...       1130          30149
54517 2020-11-03         Africa  ...          1             56
54518 2020-11-03         Europe  ...        165           5340
54519 2020-11-03           Asia  ...          6           1466
54520 2020-11-03         Europe  ...        397             56
54521 2020-11-03  South America  ...          1             69
54522 2020-11-03           Asia  ...          3            349
54523 2020-11-03  South America  ...          4            394
54524 2020-11-03           Asia  ...          0              4
54525 2020-11-03         Others  ...          8            575
54526 2020-11-03         Others  ...          0              0
54527 2020-11-03           Asia  ...          0              0
54528 2020-11-03         Africa  ...          0             30
54529 2020-11-03         Africa  ...          1              3

[15 rows x 13 columns]

In [31]:
df_covid19.to_csv(r'/content/drive/My Drive/capstone1/df_covid19.csv',index=False)
final_dataset.to_csv(r'/content/drive/My Drive/capstone1/final_dataset.csv',index=False)
df_confirmed.to_csv(r'/content/drive/My Drive/capstone1/df_confirmed.csv',index=False)
df_deaths.to_csv(r'/content/drive/My Drive/capstone1/df_deaths.csv',index=False)